* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 220px;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
    margin-top: 0%;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #707d84;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after {
    width: 100%;

}

.name {
    font-size: 95px;
}

.textbox {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 40px;

}

.btn:hover {
    border: 1px solid #f1f1f1;
    background: #848b8f;
    transition: 1s;
}


.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Pages/about\ pic.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
    font-size: 50px;
}



/*Contacts*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 38%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px; 
    color: #555;
    font-weight: 400;
}
.exp {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    font-size: 18px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 40px;
    
}


.exp:hover {
    border: 1px solid #f1f1f1;
    background: #848b8f;
    transition: 0.5s;
    color: #f1f1f1;
}


.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*Footer*/
.navs {
    display: flex;
    gap: 50px;
    margin-left: 35%;
   
}
.navs a{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
 
}
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #fff3f3;
    
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}

.icons {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 19px 0;

}